{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_kopere_bi/blocks-details_add

    Example context (json):
    {}
}}

<div style="display:none" id="dialog-confirm-block-add"
     title="{{#str}}new_block,local_kopere_bi{{/str}}">
    <div>{{#str}}click_new_block,local_kopere_bi{{/str}}</div>

    <div class="line line-add" data-type="block-1">
        <span>{{#str}}new_block_1,local_kopere_bi{{/str}}</span>
        <div class="blocks">
            <div class="block block-empty"></div>
        </div>
    </div>

    <div class="line line-add" data-type="block-2">
        <span>{{#str}}new_block_2,local_kopere_bi{{/str}}</span>
        <div class="blocks">
            <div class="block block-empty"></div>
            <div class="block block-empty"></div>
        </div>
    </div>

    <div class="line line-add" data-type="block-25">
        <span>{{#str}}new_block_25,local_kopere_bi{{/str}}</span>
        <div class="blocks">
            <div class="block block-empty" style="width:225%"></div>
            <div class="block block-empty"></div>
        </div>
    </div>

    <div class="line line-add" data-type="block-52">
        <span>{{#str}}new_block_52,local_kopere_bi{{/str}}</span>
        <div class="blocks">
            <div class="block block-empty"></div>
            <div class="block block-empty" style="width:225%"></div>
        </div>
    </div>

    <div class="line line-add" data-type="block-3">
        <span>{{#str}}new_block_3,local_kopere_bi{{/str}}</span>
        <div class="blocks">
            <div class="block block-empty"></div>
            <div class="block block-empty"></div>
            <div class="block block-empty"></div>
        </div>
    </div>

    <div class="line line-add" data-type="block-12">
        <span>{{#str}}new_block_12,local_kopere_bi{{/str}}</span>
        <div class="blocks">
            <div class="block block-empty" style="width:225%"></div>
            <div class="block block-empty"></div>
            <div class="block block-empty"></div>
        </div>
    </div>

    <div class="line line-add" data-type="block-21">
        <span>{{#str}}new_block_21,local_kopere_bi{{/str}}</span>
        <div class="blocks">
            <div class="block block-empty"></div>
            <div class="block block-empty"></div>
            <div class="block block-empty" style="width:225%"></div>
        </div>
    </div>

    <div class="line line-add" data-type="block-4">
        <span>{{#str}}new_block_4,local_kopere_bi{{/str}}</span>
        <div class="blocks">
            <div class="block block-empty"></div>
            <div class="block block-empty"></div>
            <div class="block block-empty"></div>
            <div class="block block-empty"></div>
        </div>
    </div>
</div>