{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_kopere_bi/blocks-edit-block-2

    Example context (json):
    {
        "block_id": 42,
        "details_block_item_1": "<div class=\"block-heading\"><h4 class=\"block-title\">Matrículas</h4></div>",
        "details_block_item_2": "<div class=\"block-heading\"><h4 class=\"block-title\">Conclusões</h4></div>"
    }
}}

<div class="line" id="blockid-{{{block_id}}}" data-blockid="{{{block_id}}}">
    <div class="blocks">
        <div class="block">{{{details_block_item_1}}}</div>
        <div class="block">{{{details_block_item_2}}}</div>
    </div>
</div>
