{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_kopere_bi/blocks-details_block_item

    Example context (json):
    {
        "title": "Acessos por curso",
        "title_extra": "<span class=\"badge badge-info\">Atualizado hoje</span>",
        "htmlbefore": "<div class=\"mb-2\">Resumo do bloco</div>",
        "preview": "<div class=\"chart-box\">Conteúdo renderizado do relatório</div>",
        "htmlafter": "<div class=\"mt-2 text-muted\">Fonte: Moodle</div>"
    }
}}

<div class="block-heading">
    <h4 class="block-title preview-details_block_item">{{{title}}}</h4>
    {{{title_extra}}}
    <div class="block-controls"></div>
</div>
{{{htmlbefore}}}
{{{preview}}}
{{{htmlafter}}}
