{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_kopere_bi/dashboard-topo-edit-page

    Example context (json):
    {
        "koperebipage_id": 1278
    }
}}

<div style="width: 100%;min-height: 30px;padding: 0 0 20px;display: flex;gap: 7px;">
    <a href="?classname=dashboard&method=edit&page_id={{{koperebipage_id}}}"
       class="btn btn-success"
       target="_blank">{{#str}}page_title_edit,local_kopere_bi{{/str}}</a>
    <a href="?classname=dashboard&method=preview&page_id={{{koperebipage_id}}}"
       class="btn btn-info"
       target="_blank">{{#str}}page_preview,local_kopere_bi{{/str}}</a>
    <a href="?classname=data_export&method=json&page_id={{{koperebipage_id}}}"
       class="btn btn-primary"
       target="_blank">{{#str}}page_title_export,local_kopere_bi{{/str}}</a>
</div>