{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_kopere_bi/filter

    Example context (json):
    {
        "popupid": "filter-user-1",
        "btn-title": "Usuário",
        "btn-subtitle": "João da Silva",
        "url-ajax": "view-ajax.php?classname=users&method=load_all_users",
        "url-click": "?classname=dashboard&method=preview&page_id=10&userid={id}",
        "table-title": "Selecionar usuário",
        "cols": [
            {
                "id": "id",
                "name": "#",
                "style": "width:20px"
            },
            {
                "id": "fullname",
                "name": "Nome completo"
            },
            {
                "id": "username",
                "name": "Usuário"
            },
            {
                "id": "email",
                "name": "E-mail"
            }
        ]
    }
}}

<div id="{{{popupid}}}-btn-open"
     style="display:none"
     data-urlajax="{{{url-ajax}}}"
     data-urlclick="{{{url-click}}}"
     title="{{{table-title}}}">
    <span>{{{btn-title}}}:</span>
    <span class="select">
        {{{btn-subtitle}}}
    </span>
</div>
<div id="{{{popupid}}}-datatable-select"
     class="datatable-select"
     style="display:none;">
    <table id="{{{popupid}}}-table" class="table table-hover">
        <thead>
        <tr>
            {{#cols}}
                <th class="text-center th_{{{id}}}"
                    {{#style}} {{{style}}} {{/style}}
                >{{{name}}}</th>
            {{/cols}}
        </tr>
        </thead>
        <tbody class="hover-pointer"></tbody>
    </table>
</div>
